
.App{
   /* min-height: 100vh; */
   /* display: flex;
   flex-direction: column;
   overflow: hidden; */
}

.background_item{
   position: absolute;
   z-index: -1;
}

.left-background_item, .right-background_item {
   top: 0;
}

.left-background_item{
   left: 0;
}
.right-background_item{
   right: 0;
}

.left-background_item_svg {
   width:470px;
   height: 419px;
}

.right-background_item_svg{
   width: 271px;
   height: 327px;
}

@media screen and (max-width: 1024px) {
   .left-background_item_svg{
      width: calc(470px*0.75);
      height: calc(419px*0.75);
   }

   .right-background_item_svg {
      width: calc(271px*0.9);
      height: calc(327px*0.9);
   }
}

@media screen and (min-width: 360px) and (max-width:768px) {
   .left-background_item_svg {
      width: calc(470px*0.3);
      height: calc(419px*0.3);
   }

   .right-background_item_svg {
      width: calc(271px*0.5);
      height: calc(327px*0.5);
   }
}